/* 
    Document   : active_projects
    Created on : 23.06.2013, 00:32:58
    Author     : Lestat
    Description:
        Purpose of the stylesheet follows.
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face{
    src:url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.ttf") format("truetype"),
        url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.otf") format("opentype"),
        url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.svg") format("svg");
    font-family:icon;
}

root { 
    display: block;
}

.active_projects
{
    margin-top: 60px;
    padding-left: 50px;
    font-family:'Calibri, Open Sans, Verdana';
    position: relative;
    cursor: auto;
}
.past_projects
{
    margin-top: 60px;
    padding-left: 50px;
    font-family:'Calibri, Open Sans, Verdana';
    position: relative;
}

.project_title
{ 
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color: #bbbbbb;
    line-height: 40px;

    height: 40px;
    width: 300px;
    background-color: #292931;
    padding-left: 20px;
    margin-top: 20px;

    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin-bottom: -2px;  
    cursor: pointer;
}
.line
{
    height: 2px;
    background-color:#ff4800 ;
    margin-right: 50px;
    margin-left: 2px;
}

.tag_line
{ 
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color: #000;
    line-height: 40px;

    height: 40px;
    background-color: #fff;
    margin-left: 50px;

    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin-right: 50px;
}
.label{
    font-family:icon;
    text-shadow:0 -1px 0 #666;
    -webkit-font-smoothing: antialiased; 
    position:absolute;
    width:33px;
    height:34px;
    background:#ff4800;
    margin-left: 1px;
    text-align:center;
    line-height:2.2;
    color:#857487;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.large_label{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color:#000;
    line-height: 34px;

    position:absolute;
    width:70px;
    height:34px;
    background:#ff4800;

    padding-left: 5px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.description_line
{ 
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color: #000;
    line-height: 40px;

    height: auto;
    background-color: #d3ced4;
    padding-left: 20px;
    margin-right: 50px;
    padding-top: 36px;
    margin-bottom: 5px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;


}
.start_date
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color: #000;
    line-height: 40px;

    height: 40px;
    background-color: #fff;
    padding-left: 90px;
    margin-right: 50px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.end_date
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color: #000;
    line-height: 40px;

    height: 34px;
    background-color: #d3ced4;
    padding-left: 90px;
    margin-right: 50px;


    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
#new_project_button
{
    float: right;
    background-color: #ff4800;
    border-style: none;
    width: 150px;
    height: 30px;
    margin-right: 4%;
}