/* 
    Document   : Footer
    Created on : 10.10.2012, 12:32:41
    Author     : Lestat
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#credits
{
     font-family: Tahoma, Calibri, Verdana,sans-serif;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

