/* 
    Document   : Header.css
    Created on : Oct 3, 2012, 7:02:57 PM
    Author     : 
    Description:
        Purpose of the stylesheet follows.
*/
html, body, ul {
    padding:0;
    margin:0;
}
.menu{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    width:100%;
}
.menu ul{
    list-style:none;
    background:#2d2d2d;
    margin:0;
    padding:0;
}
.menu li{
    display:inline-block;
    float:left;
}
.menu li:first-child{
    margin-left:5px;
}
.menu a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:#bbbbbb;
    border-top:2px solid transparent;
}
.menu a:hover,
.menu li.active a{
    background:#3d3d3d;
    color:#dddddd;
    border-top:2px solid #ff4800;
}
.clearFloat{
    clear:both;
}
ul li:nth-of-type(7) {
  float: right;
}
ul li:nth-of-type(6) {
  float: right;
}
ul li:nth-of-type(8) {
  float: right;
  padding-right: 10px;
}

/**ul li:nth-of-type(1) {
  background:#ff4800;
}**/