/* 
    Document   : Home
    Created on : 09.10.2012, 01:50:44
    Author     : Lestat
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    height: 0px;
}

.gradient_under_menu
{
    width: 103%;
    height: 40px;
    background-image: url('../Images/menu-under-bk-white.png');
    margin-left: -10px;

}
.gradient_under_menu_contact
{
    width: 103%;
    height: 40px;
    background-image: url('../Images/menu-under-bk-black.png');
    margin-left: -10px;

}


.home_page
{
    background-color: white;
    color: black;
    width: 102%;
    margin-left: -10px;
    height: 1260px;
    margin-bottom: 3%;
}

.publications_page
{
    background-color: white;
    color: black;
    width: 102%;
    margin-left: -10px;
    height: auto;
    margin-bottom: 3%;
}

.video_page
{
    background-color: white;
    color: black;
    width: 102%;
    margin-left: -10px;
    margin-bottom: 3%;
}

.video_page iframe
{
    width: 480px;
    alignment-adjust: central;
    margin-left: 30%;
    margin-top: 1%;
}
.video_page span
{
    margin-left: 25%;
    margin-top: 4%;
}

.content
{
    padding: 20px;
    font-size: 15px;
    font-weight: none;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}
.brand_image
{
    margin: 0px;
    margin-left: 9%;
    background-image: url('../Images/gandirea.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 282px;
    text-align: center;
    font: Tahoma;
    font-size: 20px;
    font-weight: bold;
}
.empty{
    height: 40px;
    width: auto;
}

.contact_page
{
    background-color: black;
    color: ivory;
    width: 102%;
    height: 1260px;
    margin-left: -1%;
    margin-bottom: 3%;
}

#contact 
{
    padding: 50px;
}
.comenzi
{
    margin-left: 50px;
    margin-right: 50px;
}
#e-mail{
    margin-left: 12px;
}

.pub_list
{
    margin-left: 50px;
    font: Tahoma;
    color: black;
    font-size: 15px;

}
