/* 
    Document   : open_page
    Created on : 03.07.2013, 16:59:02
    Author     : Lestat
    Description:
        Purpose of the stylesheet follows.
*/

html, body, ul {
    padding:0;
    margin:0;
}

.container {
    margin:0 auto;
}

.right
{
    float: auto;
    width: auto;
    overflow: auto;
}

.left
{
    float: left;
    width: 150px;
    height: 1024px;
    background-color: #2d2d2d;
}

.menu{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0; 
}

#menu ul, #menu li {
    list-style: none;
    margin: 0;
    padding: 0; }

.menu ul{
    position: relative;
    z-index: 597; 
    list-style:none;
    
    background:#2d2d2d;
    margin:auto;
    padding:0;
}

.menu li{
   
    margin-left:2px;
    margin-top: 3px;
}

.menu a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:#bbbbbb;
    border-top:2px solid transparent;
}
.menu a:hover,

.menu li.active a{
    background:#3d3d3d;
    color:#dddddd;
    border-left:2px solid #ff4800;
}
.clearFloat{
    clear:both;
}

