/* 
    Document   : profile
    Created on : 21.06.2013, 00:17:51
    Author     : Lestat
    Description:
        Purpose of the stylesheet follows.
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face{
    src:url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.ttf") format("truetype"),
        url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.otf") format("opentype"),
        url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.svg") format("svg");
    font-family:icon;
}

#profile
{
    margin-top: 60px;
    padding-left: 50px;
    font-family:'Calibri, Open Sans, Verdana';
    position: relative;
}
#profile .title
{ 
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration: none;
    color: #bbbbbb;
    line-height: 40px;

    height: 40px;
    width: 150px;
    background-color: #292931;
    padding-left: 20px;

    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin-bottom: -2px;  
}
#profile .line
{
    height: 2px;
    background-color:#ff4800 ;
    margin-right: 50px;
    margin-left: 2px;
}
#profile input
{
    color: black;
}
#about
{
    margin-right: 50px;
    height: 280px;
}
#change_pass
{
    margin-right: 50px;
    height: 150px;
}
#deleteAccount
{
    margin-right: 50px;
    height: 150px;
}

.label1{
    font-family:icon;
    text-shadow:0 -1px 0 #666;
    -webkit-font-smoothing: antialiased; 
    width:33px;
    height:34px;
}
.label2
{
    width:180px;
    height:34px;
    margin-right: 10px;
}

.pass{
    width:250px;
    height:32px;
    margin:10px 200px;
    outline:0;
    display:block;
    font-size:18px;
}
#profile label{
    position:absolute;
    background:#ff4800;
    margin-left: 10px;
    text-align:center;
    line-height:2.2;
    color:#857487;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
#profile input[readonly=readonly]{
    font-family:'Open Sans';
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}
#profile input[readonly=readonly]{
    width:250px;
    height:32px;
    margin:10px 50px;
    outline:0;
    display:block;
    font-size:18px;
}

#profile .button_profile{
    float: right;
    background-color: #ff4800;
    border-style: none;
    width: 50px;
    height: 30px;
}
#change_pass
{
    height: 150px;
    margin-top: 10px;
}
.account_profile
{
    background-color: #ff4800;
    border-style: none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}