.task_list
{
    float: left;
    width: 300px;
    overflow: auto;
}
.gant_preview
{
    float: right;
    width: auto;
    overflow: auto;
}
#line
{
    float: right;
    height: 1000px;
    width: 3px;
    margin-top: -100px;
    background-color: #343d4b;
}

.gantt_diagram_view {
   margin:0 auto;
}
